<html>
<head>
<title>UpdateFragment.kt</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #cc7832;}
.s1 { color: #a9b7c6;}
.s2 { color: #6a8759;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
UpdateFragment.kt</font>
</center></td></tr></table>
<pre><span class="s0">package </span><span class="s1">com.example.tryapp.fragment</span>

<span class="s1">import android.app.DatePickerDialog</span>
<span class="s1">import android.app.TimePickerDialog</span>
<span class="s1">import android.os.Bundle</span>
<span class="s1">import androidx.fragment.app.Fragment</span>
<span class="s1">import android.view.LayoutInflater</span>
<span class="s1">import android.view.View</span>
<span class="s1">import android.view.ViewGroup</span>
<span class="s1">import android.widget.Toast</span>
<span class="s1">import com.example.tryapp.R</span>
<span class="s1">import com.example.tryapp.database.DatabaseClient</span>
<span class="s1">import com.example.tryapp.database.TaskDAO</span>
<span class="s1">import com.example.tryapp.database.TaskModel</span>
<span class="s1">import com.example.tryapp.databinding.FragmentUpdateBinding</span>
<span class="s1">import com.example.tryapp.util.*</span>


<span class="s0">class </span><span class="s1">UpdateFragment : Fragment() {</span>

    <span class="s1">private lateinit </span><span class="s0">var </span><span class="s1">binding: FragmentUpdateBinding</span>
    <span class="s1">private lateinit </span><span class="s0">var </span><span class="s1">database: TaskDAO</span>
    <span class="s1">private lateinit </span><span class="s0">var </span><span class="s1">detail: TaskModel</span>

    <span class="s1">override </span><span class="s0">fun </span><span class="s1">onCreateView(</span>
        <span class="s1">inflater: LayoutInflater</span><span class="s0">, </span><span class="s1">container: ViewGroup?</span><span class="s0">,</span>
        <span class="s1">savedInstanceState: Bundle?</span>
    <span class="s1">): View? {</span>
        <span class="s1">binding = FragmentUpdateBinding.inflate(inflater</span><span class="s0">,</span><span class="s1">container</span><span class="s0">, false</span><span class="s1">)</span>
        <span class="s1">database = DatabaseClient.getService(requireActivity()).taskDAO()</span>
        <span class="s1">detail = requireArguments().getSerializable(</span><span class="s2">&quot;argument_task&quot;</span><span class="s1">) </span><span class="s0">as </span><span class="s1">TaskModel</span>
        <span class="s0">return </span><span class="s1">binding.root</span>
    <span class="s1">}</span>

    <span class="s1">override </span><span class="s0">fun </span><span class="s1">onViewCreated(view: View</span><span class="s0">, </span><span class="s1">savedInstanceState: Bundle?) {</span>
        <span class="s0">super</span><span class="s1">.onViewCreated(view</span><span class="s0">, </span><span class="s1">savedInstanceState)</span>
        <span class="s1">setupData()</span>
        <span class="s1">setupListener()</span>
    <span class="s1">}</span>

    <span class="s1">private </span><span class="s0">fun </span><span class="s1">setupListener() {</span>
        <span class="s1">binding.courseText.setText(detail.task)</span>
        <span class="s1">binding.courseDate.text = dateTostring(detail.date)</span>
        <span class="s1">binding.courseTime.text = timeTostring(detail.time)</span>
    <span class="s1">}</span>

    <span class="s1">private </span><span class="s0">fun </span><span class="s1">setupData() {</span>

        <span class="s1">binding.courseAddDate.setOnClickListener {</span>
            <span class="s0">val </span><span class="s1">datepicker = DatePickerDialog.OnDateSetListener{ view</span><span class="s0">, </span><span class="s1">year</span><span class="s0">, </span><span class="s1">month</span><span class="s0">, </span><span class="s1">dayofmonth -&gt;</span>
                <span class="s1">binding.courseDate.text = dateTostring(year</span><span class="s0">,</span><span class="s1">month</span><span class="s0">,</span><span class="s1">dayofmonth)</span>
            <span class="s1">}</span>
            <span class="s1">dateToDialog(requireActivity()</span><span class="s0">,</span><span class="s1">datepicker).show()</span>
        <span class="s1">}</span>

        <span class="s1">binding.courseAddTime.setOnClickListener {</span>
            <span class="s0">val </span><span class="s1">timepicker = TimePickerDialog.OnTimeSetListener { view</span><span class="s0">, </span><span class="s1">hour</span><span class="s0">, </span><span class="s1">minute -&gt;</span>
                <span class="s1">binding.courseTime.text = timeTostring(hour</span><span class="s0">,</span><span class="s1">minute)</span>
            <span class="s1">}</span>
            <span class="s1">timetoDialog(requireActivity()</span><span class="s0">,</span><span class="s1">timepicker).show()</span>
        <span class="s1">}</span>

        <span class="s1">binding.deleteButton.setOnClickListener {</span>
            <span class="s1">Thread{</span>
                <span class="s1">database.delete(detail)</span>
                <span class="s1">requireActivity().runOnUiThread{</span>
                    <span class="s1">Toast.makeText(requireActivity()</span><span class="s0">,</span><span class="s2">&quot;delete complete&quot;</span><span class="s0">, </span><span class="s1">Toast.LENGTH_SHORT).show()</span>
                    <span class="s1">requireActivity().finish()</span>
                <span class="s1">}</span>
            <span class="s1">}.start()</span>
        <span class="s1">}</span>
        <span class="s1">binding.saveButton.setOnClickListener {</span>

            <span class="s1">detail.task = binding.courseText.text.toString()</span>
            <span class="s1">detail.date = dateToLong(binding.courseDate.text.toString())</span>
            <span class="s1">detail.time = timeToLong(binding.courseTime.text.toString())</span>

            <span class="s1">Thread{</span>
                <span class="s1">database.update(detail)</span>
                <span class="s1">requireActivity().runOnUiThread{</span>
                    <span class="s1">Toast.makeText(requireActivity()</span><span class="s0">,</span><span class="s2">&quot;update saved&quot;</span><span class="s0">, </span><span class="s1">Toast.LENGTH_SHORT).show()</span>
                    <span class="s1">requireActivity().finish()</span>
                <span class="s1">}</span>
            <span class="s1">}.start()</span>
        <span class="s1">}</span>
    <span class="s1">}</span>


<span class="s1">}</span></pre>
</body>
</html>